<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="reqres2">
  <test name="Test">
    <classes>
      <class name="test.PostApi"/>
      <class name="test.GetSingleUser"/>
      <class name="test.PutApi"/>
      <class name="test.GetListUsers"/>
      <class name="test.DeleteUser"/>
      <class name="test.GetSingleUserWithExistingId"/>
    </classes>
  </test> 
</suite> 
